body {
    background-color: #FFF5C2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .center {
    background-color: #3081D0;
    text-align: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
    display: grid;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
  }
  
  .form-label {
    color: white; /* Añadido para que el texto sea visible */
  }
  
  .form-control {
    margin: 30px;
    width: 500px;
  }
  
  .productDetails {
    margin: 10px;
    opacity: 0; /* Configuración inicial para que esté oculto */
    transition: opacity 0.5s ease-in-out; /* Transición suave de la opacidad durante 0.5 segundos */
  }
  
  .productDetails.active {
    opacity: 1; /* Cuando tiene la clase active, se mostrará con opacidad completa */
  }
  